<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center" class="content">
  <img alt="Angular Logo" src="../assets/A4 - 5dockerangularnginx.png" />
</div>
<h3 style="text-align: center">
  *Navigate between the menu options and check changes on your matomo url
  <a target="_blank" href="http://localhost:8080/">localhost:8080</a>
</h3>
<ul class="menu">
  <li class="menu__item">
    <h2>
      <a routerLink="home">Home</a>
    </h2>
  </li>
  <li class="menu__item">
    <h2>
      <a routerLink="dev-to">Dev.to</a>
    </h2>
  </li>
  <li class="menu__item">
    <h2>
      <a routerLink="thank-you">Thanks</a>
    </h2>
  </li>
</ul>
<router-outlet></router-outlet>
